
<!--
<section class="hero-unit search-box">
  {{search instant=true}}
</section>
--> 

<section class="hero-unit">
  <header class="article-header">Welcome to the GitLab Support Portal</header>
 
<p>Open a support ticket by using the <a href="https://support.gitlab.com/hc/en-us/requests/new" title="Submit a request">Submit a request</a> form, view your current requests by clicking <a href="https://support.gitlab.com/hc/en-us/requests/" title="My activities">My activities</a>.</p>

 <p>Visit <a href="https://about.gitlab.com/support/" title="Support main">https://about.gitlab.com/support/</a> for more information about the support we provide.</p>
  
<p> - GitLab Support Team </p>
</section>

<section class="knowledge-base">
  {{#if categories}}
    <div class="category-tree">
      {{#each categories}}
        <section class="category">
          {{#if ../has_multiple_categories}}
            <h2><a href="{{url}}">{{name}}</a></h2>
          {{/if}}
          {{#each sections}}
            <section class="section">
              <h3>
                {{#if internal}}
                  <span class="visibility-internal" data-title="{{t 'internal'}}">
                    <span class="visibility-internal-icon"></span>
                  </span>
                {{/if}}
                <a href="{{url}}">{{name}}</a>
              </h3>
              {{#if articles}}
                <ul class="article-list">
                  {{#each articles}}
                    <li {{#if promoted}} class="article-promoted" {{/if}}>
                      {{#if promoted}}
                        <span data-title="{{t 'promoted'}}">★</span>
                      {{/if}}
                      <a href="{{url}}">{{title}}</a>
                    </li>
                  {{/each}}
                </ul>
                {{#if more_articles}}
                  <a href="{{url}}" class="see-all-articles">
                    {{t 'show_all_articles' count=article_count}}
                  </a>
                {{/if}}
              {{else}}
                <i class="section-empty">
                  <a href="{{url}}">{{t 'empty'}}</a>
                </i>
              {{/if}}
            </section>
          {{else}}
            <i class="category-empty">
              <a href="{{url}}">{{t 'empty'}}</a>
            </i>
          {{/each}}

          {{#if more_sections}}
            <div>
              <a href="{{url}}">{{t 'see_all_sections'}}</a>
            </div>
          {{/if}}
        </section>
      {{/each}}

      {{pagination}}
    </div>
  {{/if}}
</section>

<section class="community">
  {{#if help_center.community_enabled}}
    <h4>
      {{t 'community'}}
      {{link 'community'}}
    </h4>
    {{recent_activity}}
  {{/if}}
</section>
